/* ============================
	VARS
============================ */
:root {
    --bg: #000000 !important;
    --color1: #6B5851 !important;
    --color2: #9F8F8E !important;
    --shadow: #000000!important;
    --test: pink !important;
}
/* ============================
	CHAT
============================ */
.theme-dark .messagesWrapper-3lZDfY {
    background-color: var(--bg);
}
.dividerContent-2L12VI {
    display: inline-grid;
}
.theme-dark .dividerEnabled-2TTlcf {
    display: none;
}
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color: var(--bg);
}
.theme-dark .channelTextArea-rNsIhG {
    border-top: 1px solid var(--bg);
}
.theme-dark .inner-zqa7da {
    background-color: var(--bg);
    box-shadow: 0px -2px 0px 0px var(--bg);
}
.theme-dark .embedInner-1-fpTo {
    background-color: var(--bg);
    border-color: var(--bg);
}
.embedInner-1-fpTo {
    background: var(--bg);
    border: 1px solid var(--bg);
}
.theme-dark .embedPill-1Zntps {
    background-color: var(--color1);
}
.theme-dark .button-3AYNKb {
    display: none;
}
.theme-dark .typing-2GQL18 {
    color: var(--bg);
}
.theme-dark .markup-2BOw-j a {
    color: var(--color1);
}
.theme-dark .attachButtonPlus-rUdX-B {
    fill: var(--color2);
}
/* ============================
	MEMBERS
============================ */
.theme-dark .members-1998pB {
    background-color: var(--bg);
}
.theme-dark .textArea-2Spzkt {
    color: var(--color1);
}
.membersWrap-2h-GB4 {
display: none;
}
/* ============================
	Toolbar
============================ */
.icon-22AiRD {
    display: none;
}
.iconWrapper-2OrFZ1 {
    display: none;
}
.theme-dark .children-19S4PO:after {
    display: none;
}
.theme-dark .searchBar-3dMhjb {
    background-color: #202225;
    color: #b9bbbe;
    border-radius: 25PX;
}
.theme-dark .topic-TCb_qw {
    display: none;
}
.theme-dark .divider-3FBTu8 {
    display: none;
}
.theme-dark .base-1x0h_U::before {
    content: " # ";
    color: var(--color1);
}
.theme-dark .base-1x0h_U {
    color: var(--color1);
}
.theme-dark .container-1r6BKw {
    background: var(--bg);
    -webkit-box-shadow: 0 1px 0 var(--shadow),inset 0 -1px 0 var(--shadow);
    box-shadow: 0 1px 0 var(--shadow),0 1.5px 0 var(--shadow),0 2px 0 var(--shadow);
    color: #b9bbbe;
}
.theme-dark .searchBar-3dMhjb {
    background-color: var(--bg);
    color: var(--color1);

}
.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: var(--color1);
}
.theme-dark .icon-3cZ1F_ {
    color: var(--color1);
}
.header-2o-2hj {
    color: var(--color1);
}
/* ============================
	CHANNELS
============================ */
.header-2o-2hj {
    background-color: var(--bg);
    box-shadow: 0 1px 0 var(--shadow),0 1.5px 0 var(--shadow),0 2px 0 var(--shadow);
}
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {
    background: var(--shadow) url(/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg);
}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
    margin-top: 10px;
    color: #fff;
    background-color: var(--bg);
}
.channels-Ie2l6A {
    background-color: var(--bg);
}
.container-PNkimc {
    background-color: var(--bg);
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: var(--shadow);
}
.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
    background: var(--bg);
}
/* ============================
 * Guilds
===========================*/
.theme-dark .wrapper-1Rf91z, .theme-light .wrapper-1Rf91z {
    background-color: var(--bg);
    display: none;
}
svg {
color: var(--color2);
}
.actionIcon-2Hi9ZG {
    color: var(--color2);
}
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
    color: var(--color1);
}
.name-IbjUBS {
    color: var(--color1);
}
.theme-dark .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .theme-dark .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeConnected-2IEL4z:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg, .theme-light .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .theme-light .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeConnected-2IEL4z:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg{
    color: var(--color2);
}
.theme-dark .username-2BIRiC, .theme-light .username-2BIRiC {
    color: var(--color1);
}
.theme-dark .discriminator-3-Lf_x, .theme-light .discriminator-3-Lf_x {
    color: var(--color1);
}
/* hidescrollbars */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb {
display: none;
}
.theme-dark [class^="messageGroupBlocked"] { display:none; }

body {
font-family: Anonymous Pro;
font-weight:normal;
font-style:normal;
font-size: 10px;
}
.theme-dark .markup-2BOw-j {
    color: var(--color1);
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    background: var(--bg);
    font-family: Anonymous Pro;
}
.theme-dark .markup-2BOw-j pre {
    background: var(--color1);
    border-color: var(--color1);
}
.theme-dark .icon-1_QxNX, .theme-light .icon-1_QxNX {
    display: none;
}

.theme-dark .unread-3zKkbm, .theme-light .unread-3zKkbm {
    display: none;
}

.status-2s6iDp {
    display: none;
}
.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
}

.hljs,
.hljs-tag,
.hljs-subst {
	color: #ffffff !important
}

.hljs-strong,
.hljs-emphasis {
	color: #a8a8a2 !important
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
	color: #ae81ff !important
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: #a6e22e !important
}

.hljs-strong {
	font-weight: bold !important
}

.hljs-emphasis {
	font-style: italic !important
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
	color: #f92672 !important
}

.hljs-symbol,
.hljs-attribute {
	color: #66d9ef !important
}

.hljs-params,
.hljs-class .hljs-title {
	color: #f8f8f2 !important
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
	color: #e6db74 !important
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
	color: #75715e !important
}
