gtk-color-scheme = "background: #4e4545"
gtk-color-scheme = "foreground: #F2F1F1"

gtk-color-scheme = "color0: #4e4545"
gtk-color-scheme = "color1: #C87474"
gtk-color-scheme = "color2: #C97E81"
gtk-color-scheme = "color3: #A49091"
gtk-color-scheme = "color4: #D49A9B"
gtk-color-scheme = "color5: #E1BFC1"
gtk-color-scheme = "color6: #DED3D3"
gtk-color-scheme = "color7: #F2F1F1"
gtk-color-scheme = "color8: #948f8f"
gtk-color-scheme = "color9: #C87474"
gtk-color-scheme = "color10: #C97E81"
gtk-color-scheme = "color11: #A49091"
gtk-color-scheme = "color12: #D49A9B"
gtk-color-scheme = "color13: #E1BFC1"
gtk-color-scheme = "color14: #DED3D3"
gtk-color-scheme = "color15: #F2F1F1"
