[Desktop Entry]
Name=Game 382303152327753739
Exec=/usr/bin/mpd_discord_richpresence %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-382303152327753739;
