Xft.dpi: 96
!****
!st settings
!****
st.termname: st-256color
st.shell: /bin/zsh
st.font: spleen:pixelsize=16;
st.borderpx: 100
st.cursorshape: 1;
st.cursorthickness: 2
st.cursorblinkstyle: 1
st.xfps: 120
st.actionfps: 120
st.mouseScrollLines: 1
st.opacity: 255

!****
!Colors
!****
#include ".Xresources.colors"
! foreground
*foreground: wht
! background
*background: #000000
! blk
*color0:  blk
! gry
*color8:  gry
! red
*color1:  red
*color5:  red
*color9:  red
*color13: red
! grn
*color2:  grn
*color3:  grn
*color10: grn
*color11: grn
! blu
*color4:  blu
*color6:  blu
*color12: blu
*color14: blu
! wht
*color7:  wht
*color15: wht

!****
!2bwm settings
!****
twobwm.border_width: 	   10
twobwm.outer_border: 10
twobwm.inverted_colors:    false
twobwm.enable_compton: true

twobwm.focus_color: #000000 !color7
twobwm.unfocus_color: #000000
twobwm.fixed_color: #000000
twobwm.unkill_color: #000000
twobwm.outer_border_color: #000000 !color4
twobwm.fixed_unkill_color: #000000

