URxvt*font: xft:leggie:size=10
!URxvt*font: xft:cherry:size=10
URxvt*boldfont: xft:leggiey:size=10
!URxvt*font: xft:PixelCarnageMonoTT:size=10, xft:Font Awesome:size=9
!URxvt*boldfont: xft:PixelCarnageMonoTT:size=10,xft:Font Awesome:size=9
!URxvt*font: xft:hermit:size=8, xft:Font
!URxvt*font: xft:ypn envypn:size=8, xft:Font
!URxvt*boldfont: xft:ypn envypn:size=8, xft:FontAwesome:size=9
Xft.dpi: 96

!Xft.autohint: 0
!Xft.antialias: 1
!Xft.hinting: true
!Xft.hintstyle: hintslight
!Xft.rgba: rgb
!Xft.lcdfilter: lcddefault
URxvt.scrollBar: false
URxvt.internalBorder: 20
URxvt*dynamicColors: on
URxvt*lineSpace: 2
URxvt.geometry: 72x16

URxvt*foreground:   #e9c1c5
URxvt*background:   [100]#260000
URxvt*cursorColor:  #e9c1c5
URxvt*borderColor:  [100]#260000

! Colors 0-15.
*.color0: #260000
*color0:  #260000
*.color1: #C95052
*color1:  #C95052
*.color2: #D46368
*color2:  #D46368
*.color3: #D26C70
*color3:  #D26C70
*.color4: #D8837B
*color4:  #D8837B
*.color5: #BB7784
*color5:  #BB7784
*.color6: #DA7A85
*color6:  #DA7A85
*.color7: #e9c1c5
*color7:  #e9c1c5
*.color8: #a38789
*color8:  #a38789
*.color9: #C95052
*color9:  #C95052
*.color10: #D46368
*color10:  #D46368
*.color11: #D26C70
*color11:  #D26C70
*.color12: #D8837B
*color12:  #D8837B
*.color13: #BB7784
*color13:  #BB7784
*.color14: #DA7A85
*color14:  #DA7A85
*.color15: #e9c1c5
*color15:  #e9c1c5

! Black color that will not be affected by bold highlighting.
*.color66: #260000
*color66:  #260000

! 2BWM
twobwm.border_width: 	   10
twobwm.outer_border: 0
twobwm.inverted_colors:    false
twobwm.enable_compton: true

! 2BWM COLORS
twobwm.focus_color: #e9c1c5 !color11
twobwm.unfocus_color: #e9c1c5 !color10
twobwm.fixed_color: #e9c1c5 !olor4
twobwm.unkill_color: #e9c1c5 !color1
twobwm.outer_border_color: #e9c1c5 !color0
twobwm.fixed_unkill_color: #e9c1c5 !color5

!twobwm.focus_color: #a9ae8b !color11
!twobwm.unfocus_color: #91a991 !color10
!twobwm.fixed_color: #66715e !color4
!twobwm.unkill_color: #98905c !color1
!twobwm.outer_border_color: #3a3219 !color0
!twobwm.fixed_unkill_color: #6b6f54 !color5


! ST Settings
st.font:  tewii:size8
st.termname:                    st-256color
st.shell:                       /bin/zsh
st.tabspaces:                   16
st.chscale:                     1.0
st.cwscale:                     0.2
st.foreground:   #aab6c5
st.background:   #13191c
st.cursorColor:  #aab6c5

