:root {
    --bg: #000000 !important;
    --color2: #d0dce2 !important;
    --color3: #728d9c !important;
    --wallpaper: url('wall.png');
}

body {
    background-image: var(--wallpaper);
    font-family: 'Source Code Pro' !important;
}
.card {
    background-color: var(--bg);
}
div.card>img {
	border-radius: 5px 5px 0 0;
	float: left !important;
}
.card-image {
   float: left !important;
}
